In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
% matplotlib inline

In [3]:
with open('./data/nomad_seawifs_v2.a2_2008200.txt', 'r') as f:
    for line in f:
        if 'fields=' in line:
            break
columns = line.strip().strip('/fields=').split(',')

In [4]:
df = pd.read_csv('./data/nomad_seawifs_v2.a2_2008200.txt', names=columns, skiprows=107)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Columns: 243 entries, year to va
dtypes: float64(226), int64(15), object(2)
memory usage: 941.7+ KB

In [6]:
df_rc = pd.read_csv('./data/Rayleigh&Fresnel_corrected_Rrc.txt', sep='\t')

In [7]:
df_rc.head()

,filename,lat,lon,Rrs_412,Rrs_443,Rrs_490,Rrs_510,Rrs_555,Rrs_670
0,S1997284110316.L2_MLAC.hdf,39.2900,25.1100,0.012088,0.012417,0.011739,0.010579,0.009110,0.006655
1,S2000053153433.L2_MLAC.hdf,-61.4500,-62.2990,0.010525,0.010636,0.009614,0.007913,0.006224,0.004794
2,S2001050135427.L2_MLAC.hdf,-61.2900,-56.2900,0.004443,0.004387,0.004240,0.003686,0.002646,0.001177
3,S2002022133012.L2_MLAC.hdf,-60.9990,-56.4980,0.005869,0.005866,0.005535,0.004643,0.003326,0.001747
4,S1997270134451.L2_MLAC.hdf,24.1392,-20.9995,0.009464,0.008968,0.007719,0.005974,0.004161,0.002517

In [8]:
df_rc['filename'] = df_rc.filename.str.strip('.hdf')

In [9]:
# checking to see if both datasets are congruent

sat_files = df.sat_file.tolist()
lat1 = df.lat.tolist()
lon1 = df.lon.tolist()

filenames = df_rc.filename.tolist()
lat2 = df_rc.lat.tolist()
lon2 = df_rc.lon.tolist()

for i, (s, f, lt1, lt2, ln1, ln2) in enumerate (zip(sat_files, filenames, lat1,
                                                    lat2, lon1, lon2)):
    if s != f:
        print(f'fname#{i}: {s}<->{f}')
    if lt1 != lt2:
        print(f'lat#{i}: {lt1}<->{lt2}')
    if ln1 != ln2:
        print(f'lon#{i}: {ln1}<->{ln2}')

In [10]:
def convert_to_dt(row):
    dt_str = f'{row.year}-{row.month}-{row.day} {row.hour}:{row.minute}:{row.second}'
    return pd.to_datetime(dt_str, format='%Y-%m-%d %H:%M:%S')

# consolidate date and time columns into single datetime type column
df.insert(0, 'datetime', df.apply(convert_to_dt, axis=1))
df.drop(['year', 'month', 'day', 'hour', 'minute', 'second'], axis=1, inplace=True)

In [11]:
df_rc.rename(columns=dict(Rrs_412='sat_rho_rc412', Rrs_443='sat_rho_rc443',
                          Rrs_490='sat_rho_rc490', Rrs_510='sat_rho_rc510',
                          Rrs_555='sat_rho_rc555', Rrs_670='sat_rho_rc670'),
           inplace=True)

In [12]:
df_2 = pd.merge(df, df_rc, left_index=True, right_index=True)
df_2.rename(columns={'lat_x': 'lat', 'lon_x': 'lon'}, inplace=True)
df_2.drop(['lat_y', 'lon_y'], axis=1, inplace=True)

In [13]:
df.to_pickle('./pickleJar/df_0_NMD_SWF_v2_a2_2008200.pkl')
df_rc.to_pickle('./pickleJar/df_0_R&F_Corr.pkl')
df_2.to_pickle('./pickleJar/df_1_merged.pkl')

#### <u>Cleaning data</u>

In [14]:
df_2.describe().T

,count,mean,std,min,25%,50%,75%,max
lat,495.0,28.887491,20.588358,-67.643000,26.936900,32.400000,42.350000,79.000000
lon,495.0,-70.959878,41.512573,-170.198000,-83.391000,-76.013200,-66.999000,171.716000
id,495.0,4439.327273,2405.666837,92.000000,2036.500000,4192.000000,6666.500000,7831.000000
oisst,495.0,19.066020,6.983298,0.780000,13.775000,19.600000,25.120000,30.510000
etopo2,495.0,768.961616,1410.753061,0.000000,20.500000,156.000000,519.000000,5529.000000
chl,495.0,-263.342879,441.781960,-999.000000,-999.000000,0.246400,0.903000,43.100000
chl_a,495.0,-679.385258,467.258748,-999.000000,-999.000000,-999.000000,0.178670,23.984000
kd405,495.0,-999.000000,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
kd411,495.0,-657.840220,474.310189,-999.000000,-999.000000,-999.000000,0.055900,2.887300
kd443,495.0,-647.760552,477.551639,-999.000000,-999.000000,-999.000000,0.052160,2.476800
kd455,495.0,-942.467713,231.108108,-999.000000,-999.000000,-999.000000,-999.000000,2.298300
kd465,495.0,-936.423125,242.343381,-999.000000,-999.000000,-999.000000,-999.000000,1.122910
kd489,495.0,-625.578021,483.875910,-999.000000,-999.000000,-999.000000,0.053115,1.806300
kd510,495.0,-696.226186,459.643760,-999.000000,-999.000000,-999.000000,0.045575,1.606200
kd520,495.0,-960.652073,192.135536,-999.000000,-999.000000,-999.000000,-999.000000,0.105780
kd530,495.0,-829.442534,375.437218,-999.000000,-999.000000,-999.000000,-999.000000,1.357300
kd550,495.0,-974.772047,153.864637,-999.000000,-999.000000,-999.000000,-999.000000,1.164400
kd555,495.0,-667.977782,470.747849,-999.000000,-999.000000,-999.000000,0.076620,0.634900
kd560,495.0,-944.493292,227.159096,-999.000000,-999.000000,-999.000000,-999.000000,1.029100
kd565,495.0,-944.503738,227.115560,-999.000000,-999.000000,-999.000000,-999.000000,0.575200
kd570,495.0,-972.761334,159.931025,-999.000000,-999.000000,-999.000000,-999.000000,0.127550
kd590,495.0,-936.420452,242.353724,-999.000000,-999.000000,-999.000000,-999.000000,0.936500
kd619,495.0,-999.000000,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
kd625,495.0,-924.292702,263.107994,-999.000000,-999.000000,-999.000000,-999.000000,1.150400
kd665,495.0,-910.145518,284.760942,-999.000000,-999.000000,-999.000000,-999.000000,1.865910
kd670,495.0,-930.333298,253.102465,-999.000000,-999.000000,-999.000000,-999.000000,2.949510
kd683,495.0,-902.065914,296.107091,-999.000000,-999.000000,-999.000000,-999.000000,1.639400
lw405,495.0,-999.000000,0.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
lw411,495.0,-45.926794,210.600275,-999.000000,0.222640,0.388342,0.690837,2.029560
lw443,495.0,0.588681,0.380444,0.078526,0.309704,0.483890,0.805850,2.490000
...,...,...,...,...,...,...,...,...
sat_rrs443,495.0,0.004354,0.002626,-0.000700,0.002320,0.003770,0.006135,0.012340
sat_rrs490,495.0,0.004459,0.002283,0.000570,0.002770,0.004090,0.005920,0.018550
sat_rrs510,495.0,0.003785,0.002175,0.000970,0.002540,0.003230,0.004175,0.019990
sat_rrs555,495.0,0.003138,0.002596,0.000990,0.001730,0.002120,0.003425,0.021300
sat_rrs670,495.0,0.000582,0.000873,-0.000370,0.000170,0.000300,0.000540,0.007530
sat_lt412,495.0,8.368679,1.401452,0.000000,7.607200,8.499110,9.111630,11.634310
sat_lt443,495.0,7.335979,1.288368,0.000000,6.565900,7.389710,8.015800,10.542010
sat_lt490,495.0,5.481979,1.048907,0.000000,4.837465,5.495040,6.045055,8.111190
sat_lt510,495.0,4.563798,0.902698,0.000000,3.992995,4.530030,5.027290,7.034450
sat_lt555,495.0,3.250143,0.747805,0.000000,2.759385,3.155860,3.626580,5.881680
sat_lt670,495.0,1.396823,0.413262,0.000000,1.124980,1.305970,1.579260,2.676780
sat_rhot412,495.0,0.186945,0.030378,0.000000,0.169995,0.184740,0.201680,0.285910
sat_rhot443,495.0,0.149029,0.025079,0.000000,0.134700,0.146750,0.161620,0.238880
sat_rhot490,495.0,0.107667,0.019105,0.000000,0.096445,0.106030,0.117470,0.185250
sat_rhot510,495.0,0.093583,0.017259,0.000000,0.083125,0.091580,0.103185,0.167060
sat_rhot555,495.0,0.068404,0.014244,0.000000,0.059475,0.066270,0.077035,0.129740
sat_rhot670,495.0,0.035381,0.008865,0.000000,0.029605,0.033800,0.039640,0.070980
tdiff,495.0,1506.181818,5268.325619,-10560.000000,-1860.000000,1500.000000,5730.000000,10800.000000
solz,495.0,31.291919,14.525706,0.000000,20.650000,32.300000,42.600000,69.900000
sola,495.0,188.826667,51.128164,0.000000,182.750000,191.900000,204.100000,356.700000
senz,495.0,38.383434,11.962587,0.000000,27.350000,38.900000,48.150000,61.100000
sena,495.0,179.252121,67.898095,0.000000,124.750000,161.200000,250.400000,359.400000
cv,495.0,0.052838,0.034567,0.006000,0.027000,0.043000,0.067000,0.148000
va,495.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
sat_rho_rc412,495.0,0.006742,0.003876,0.000000,0.003706,0.005988,0.008865,0.020979
sat_rho_rc443,495.0,0.007025,0.003640,0.000000,0.004168,0.006625,0.008941,0.020130
sat_rho_rc490,495.0,0.007243,0.003453,0.000000,0.004514,0.006866,0.009144,0.018906
sat_rho_rc510,495.0,0.006734,0.003350,0.000000,0.004123,0.005819,0.008748,0.018512
sat_rho_rc555,495.0,0.006170,0.003526,0.000000,0.003430,0.005138,0.007997,0.019804
sat_rho_rc670,495.0,0.003537,0.002458,0.000000,0.001666,0.002724,0.004723,0.011320

In [19]:
df_2.replace(-999, np.NaN, inplace=True)

In [20]:
df_2.describe().T

,count,mean,std,min,25%,50%,75%,max
lat,495.0,28.887491,20.588358,-67.643000,26.936900,32.400000,42.350000,79.000000
lon,495.0,-70.959878,41.512573,-170.198000,-83.391000,-76.013200,-66.999000,171.716000
id,495.0,4439.327273,2405.666837,92.000000,2036.500000,4192.000000,6666.500000,7831.000000
oisst,495.0,19.066020,6.983298,0.780000,13.775000,19.600000,25.120000,30.510000
etopo2,495.0,768.961616,1410.753061,0.000000,20.500000,156.000000,519.000000,5529.000000
chl,364.0,1.412843,3.215504,0.025000,0.205895,0.514400,1.235225,43.100000
chl_a,158.0,2.324667,4.019108,0.027000,0.221500,0.815785,2.170500,23.984000
kd405,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kd411,169.0,0.254977,0.413295,0.021060,0.052140,0.115470,0.217120,2.887300
kd443,174.0,0.215671,0.332184,0.019000,0.046753,0.102180,0.217072,2.476800
kd455,28.0,0.410081,0.578327,0.025020,0.046133,0.083970,0.855872,2.298300
kd465,31.0,0.211398,0.291652,0.020280,0.052835,0.087962,0.144163,1.122910
kd489,185.0,0.156106,0.224019,0.018000,0.040250,0.080540,0.151700,1.806300
kd510,150.0,0.153586,0.209046,0.030770,0.052535,0.082495,0.132855,1.606200
kd520,19.0,0.064421,0.015212,0.043020,0.054970,0.062570,0.073075,0.105780
kd530,84.0,0.177927,0.214239,0.040440,0.063930,0.088149,0.156285,1.357300
kd550,12.0,0.403078,0.304242,0.073860,0.145702,0.449265,0.518530,1.164400
kd555,164.0,0.121937,0.088386,0.040980,0.076698,0.094563,0.127037,0.634900
kd560,27.0,0.289641,0.228419,0.075415,0.107270,0.224243,0.449995,1.029100
kd565,27.0,0.098144,0.096307,0.051230,0.073525,0.079790,0.088990,0.575200
kd570,13.0,0.087668,0.020786,0.055600,0.071080,0.087290,0.101660,0.127550
kd590,31.0,0.254070,0.197651,0.036510,0.134895,0.154930,0.341235,0.936500
kd619,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kd625,37.0,0.462507,0.199560,0.114500,0.330700,0.387970,0.586398,1.150400
kd665,44.0,0.612923,0.316967,0.017940,0.464131,0.540299,0.681880,1.865910
kd670,34.0,0.706401,0.488069,0.036610,0.467662,0.568477,0.853858,2.949510
kd683,48.0,0.632764,0.285732,0.000000,0.504854,0.589000,0.768000,1.639400
lw405,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lw411,472.0,0.515332,0.367304,0.043030,0.254250,0.407867,0.725200,2.029560
lw443,495.0,0.588681,0.380444,0.078526,0.309704,0.483890,0.805850,2.490000
...,...,...,...,...,...,...,...,...
sat_rrs443,495.0,0.004354,0.002626,-0.000700,0.002320,0.003770,0.006135,0.012340
sat_rrs490,495.0,0.004459,0.002283,0.000570,0.002770,0.004090,0.005920,0.018550
sat_rrs510,495.0,0.003785,0.002175,0.000970,0.002540,0.003230,0.004175,0.019990
sat_rrs555,495.0,0.003138,0.002596,0.000990,0.001730,0.002120,0.003425,0.021300
sat_rrs670,495.0,0.000582,0.000873,-0.000370,0.000170,0.000300,0.000540,0.007530
sat_lt412,495.0,8.368679,1.401452,0.000000,7.607200,8.499110,9.111630,11.634310
sat_lt443,495.0,7.335979,1.288368,0.000000,6.565900,7.389710,8.015800,10.542010
sat_lt490,495.0,5.481979,1.048907,0.000000,4.837465,5.495040,6.045055,8.111190
sat_lt510,495.0,4.563798,0.902698,0.000000,3.992995,4.530030,5.027290,7.034450
sat_lt555,495.0,3.250143,0.747805,0.000000,2.759385,3.155860,3.626580,5.881680
sat_lt670,495.0,1.396823,0.413262,0.000000,1.124980,1.305970,1.579260,2.676780
sat_rhot412,495.0,0.186945,0.030378,0.000000,0.169995,0.184740,0.201680,0.285910
sat_rhot443,495.0,0.149029,0.025079,0.000000,0.134700,0.146750,0.161620,0.238880
sat_rhot490,495.0,0.107667,0.019105,0.000000,0.096445,0.106030,0.117470,0.185250
sat_rhot510,495.0,0.093583,0.017259,0.000000,0.083125,0.091580,0.103185,0.167060
sat_rhot555,495.0,0.068404,0.014244,0.000000,0.059475,0.066270,0.077035,0.129740
sat_rhot670,495.0,0.035381,0.008865,0.000000,0.029605,0.033800,0.039640,0.070980
tdiff,495.0,1506.181818,5268.325619,-10560.000000,-1860.000000,1500.000000,5730.000000,10800.000000
solz,495.0,31.291919,14.525706,0.000000,20.650000,32.300000,42.600000,69.900000
sola,495.0,188.826667,51.128164,0.000000,182.750000,191.900000,204.100000,356.700000
senz,495.0,38.383434,11.962587,0.000000,27.350000,38.900000,48.150000,61.100000
sena,495.0,179.252121,67.898095,0.000000,124.750000,161.200000,250.400000,359.400000
cv,495.0,0.052838,0.034567,0.006000,0.027000,0.043000,0.067000,0.148000
va,495.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
sat_rho_rc412,495.0,0.006742,0.003876,0.000000,0.003706,0.005988,0.008865,0.020979
sat_rho_rc443,495.0,0.007025,0.003640,0.000000,0.004168,0.006625,0.008941,0.020130
sat_rho_rc490,495.0,0.007243,0.003453,0.000000,0.004514,0.006866,0.009144,0.018906
sat_rho_rc510,495.0,0.006734,0.003350,0.000000,0.004123,0.005819,0.008748,0.018512
sat_rho_rc555,495.0,0.006170,0.003526,0.000000,0.003430,0.005138,0.007997,0.019804
sat_rho_rc670,495.0,0.003537,0.002458,0.000000,0.001666,0.002724,0.004723,0.011320

In [17]:
df_2.filter(regex='sat').loc[df_2.sat_lt412==0]

,sat_rrs412,sat_rrs443,sat_rrs490,sat_rrs510,sat_rrs555,sat_rrs670,sat_lt412,sat_lt443,sat_lt490,sat_lt510,...,sat_rhot510,sat_rhot555,sat_rhot670,sat_file,sat_rho_rc412,sat_rho_rc443,sat_rho_rc490,sat_rho_rc510,sat_rho_rc555,sat_rho_rc670
47,0.00271,0.00336,0.00344,0.00257,0.00148,0.00005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S1998270210316.L2_MLAC,0.004873,0.005417,0.005583,0.004854,0.003908,0.002249
259,0.00312,0.00272,0.00315,0.00280,0.00189,0.00033,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S1999029125458.L2_MLAC,0.004175,0.004056,0.004442,0.004098,0.003330,0.001712
431,0.00062,0.00101,0.00168,0.00222,0.00369,0.00105,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007125172249.L2_MLAC,0.008051,0.008214,0.008475,0.008718,0.009881,0.006990
432,0.00083,0.00118,0.00171,0.00211,0.00355,0.00131,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007126180310.L2_MLAC,0.004872,0.005095,0.005414,0.005687,0.006682,0.004150
433,0.00190,0.00252,0.00356,0.00368,0.00370,0.00048,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007128174513.L2_MLAC,0.003303,0.003848,0.004685,0.004880,0.004931,0.001915

In [18]:
df_2.filter(regex='sat').loc[df_2.sat_rhot412==0]

,sat_rrs412,sat_rrs443,sat_rrs490,sat_rrs510,sat_rrs555,sat_rrs670,sat_lt412,sat_lt443,sat_lt490,sat_lt510,...,sat_rhot510,sat_rhot555,sat_rhot670,sat_file,sat_rho_rc412,sat_rho_rc443,sat_rho_rc490,sat_rho_rc510,sat_rho_rc555,sat_rho_rc670
47,0.00271,0.00336,0.00344,0.00257,0.00148,0.00005,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S1998270210316.L2_MLAC,0.004873,0.005417,0.005583,0.004854,0.003908,0.002249
259,0.00312,0.00272,0.00315,0.00280,0.00189,0.00033,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S1999029125458.L2_MLAC,0.004175,0.004056,0.004442,0.004098,0.003330,0.001712
431,0.00062,0.00101,0.00168,0.00222,0.00369,0.00105,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007125172249.L2_MLAC,0.008051,0.008214,0.008475,0.008718,0.009881,0.006990
432,0.00083,0.00118,0.00171,0.00211,0.00355,0.00131,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007126180310.L2_MLAC,0.004872,0.005095,0.005414,0.005687,0.006682,0.004150
433,0.00190,0.00252,0.00356,0.00368,0.00370,0.00048,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,S2007128174513.L2_MLAC,0.003303,0.003848,0.004685,0.004880,0.004931,0.001915

In [15]:
df_2.filter(regex='sat').loc[df_2.sat_rho_rc412==0]

,sat_rrs412,sat_rrs443,sat_rrs490,sat_rrs510,sat_rrs555,sat_rrs670,sat_lt412,sat_lt443,sat_lt490,sat_lt510,...,sat_rhot510,sat_rhot555,sat_rhot670,sat_file,sat_rho_rc412,sat_rho_rc443,sat_rho_rc490,sat_rho_rc510,sat_rho_rc555,sat_rho_rc670
174,0.01201,0.00999,0.00758,0.00524,0.00307,0.0006,11.50068,10.42751,8.11119,6.78725,...,0.12322,0.09268,0.05787,S2001240175857.L2_MLAC,0.0,0.0,0.0,0.0,0.0,0.0

#### <u>Subsetting data</u>

In [17]:
swf_bands = [412, 443, 490, 510, 555, 670]
time_loc_cols_extract = ['datetime', 'lat', 'lon']
anc_cols_extract = ['oisst', 'wt', 'sal', 'etopo2', 'sola', 'solz']
sat_cols_extract = ['sat_rrs%d' %b for b in swf_bands]\
                     + ['sat_lt%d' %b for b in swf_bands]\
                     + ['sat_rhot%d' %b for b in swf_bands]\
                     + ['sat_rho_rc%d' %b for b in swf_bands]

In [18]:
ad_cols_extract = df_2.filter(regex='ad[0-9]+').columns.tolist()
ag_cols_extract = df_2.filter(regex='ag[0-9]+').columns.tolist()
ap_cols_extract = df_2.filter(regex='ap[0-9]+').columns.tolist()
bb_cols_extract = df_2.filter(regex='bb[0-9]+').columns.tolist()
chl_cols_extract = ['chl', 'chl_a']

In [19]:
df_anc = df_2[time_loc_cols_extract + anc_cols_extract]
df_sat = df_2[time_loc_cols_extract + sat_cols_extract]
df_ad = df_2[time_loc_cols_extract + ad_cols_extract]
df_ag = df_2[time_loc_cols_extract + ag_cols_extract]
df_ap = df_2[time_loc_cols_extract + ap_cols_extract]
df_bb = df_2[time_loc_cols_extract + bb_cols_extract]
df_chl = df_2[time_loc_cols_extract + chl_cols_extract]

In [20]:
pkldir = './pickleJar/'
df_anc.to_pickle(pkldir + 'df_2_ancillary.pkl')
df_sat.to_pickle(pkldir + 'df_2_satellite.pkl')
df_ad.to_pickle(pkldir + 'df_2_ad.pkl')
df_ag.to_pickle(pkldir + 'df_2_ag.pkl')
df_ap.to_pickle(pkldir + 'df_2_ap.pkl')
df_bb.to_pickle(pkldir + 'df_2_bb.pkl')

#### <u>Creating distinction between hplc and fluo chl</u>

In [21]:
df_chl.replace(to_replace=-999, value=np.NaN, inplace=True)

In [22]:
df_chl.rename(columns={'chl': 'chl_fluo', 'chl_a': 'chl_hplc'}, inplace=True)

In [66]:
def get_chl(row):
    if pd.isna(row.chl_hplc):
        return row.chl_fluo
    return row.chl_hplc

df_chl['chl'] = df_chl.apply(get_chl, axis=1)

In [68]:
df_chl['is_hplc'] = ~df_chl.chl_hplc.isnull()

df_chl.to_pickle(pkldir + 'df_2_chl.pkl')

#### <u> Creating phytoplankton absorption DataFrame</u>

In [25]:
a_bb_bands = list(df_ap.columns.str.extract('([0-9]+)').dropna().values.squeeze())

In [26]:
df_aphy = pd.DataFrame(columns=time_loc_cols_extract + ['aphy%s' % b for b in a_bb_bands])
df_aphy[time_loc_cols_extract] = df_2[time_loc_cols_extract]

In [27]:
for b in a_bb_bands:
    df_aphy['aphy%s' %b] = df_ap['ap%s' % b] - df_ad['ad%s' %b]

In [79]:
df_aphy.head().T

,0,1,2,3,4
datetime,1997-10-11 09:32:00,2000-02-22 17:00:00,2001-02-19 16:10:00,2002-01-22 13:45:00,1997-09-27 11:29:00
lat,39.29,-61.45,-61.29,-60.999,24.1392
lon,25.11,-62.299,-56.29,-56.498,-20.9995
aphy405,0,0,0.02149,0.01693,0
aphy411,0,0,0.0241,0.01886,0
aphy443,0,0,0.03078,0.02283,0
aphy455,0,0,0.02838,0.02071,0
aphy465,0,0,0.02765,0.01999,0
aphy489,0,0,0.02057,0.01464,0
aphy510,0,0,0.01261,0.00937,0
aphy520,0,0,0.00996,0.00756,0
aphy530,0,0,0.00776,0.006,0
aphy550,0,0,0.00448,0.0036,0
aphy555,0,0,0.00385,0.0031,0
aphy560,0,0,0.0034,0.00275,0
aphy565,0,0,0.0031,0.00252,0
aphy570,0,0,0.00291,0.00239,0
aphy590,0,0,0.00324,0.00282,0
aphy619,0,0,0.00328,0.00301,0
aphy625,0,0,0.00348,0.00319,0
aphy665,0,0,0.00774,0.00723,0
aphy670,0,0,0.0104,0.00935,0
aphy683,0,0,0.00949,0.00798,0

In [29]:
df_aphy.to_pickle(pkldir + 'df_2_aphy.pkl')

#### <u>Creating Dataset for OO Conference 2018</u>

I will create two dataset. Both will include time, location, and ancillary data. The first dataset will include chlorophyll as target; the second dataset will include phytoplankton absorption (aphy) as target.

In [69]:
# Target: chl
df_ml_chl = pd.concat((df_anc.drop(['datetime', 'lat', 'lon'], axis=1),
                       df_sat.filter(regex='sat_rho_rc'), df_chl), axis=1)
df_ml_chl.replace(to_replace=-999, value=np.NaN, inplace=True)
df_ml_chl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 19 columns):
oisst            495 non-null float64
wt               158 non-null float64
sal              96 non-null float64
etopo2           495 non-null float64
sola             495 non-null float64
solz             495 non-null float64
sat_rho_rc412    495 non-null float64
sat_rho_rc443    495 non-null float64
sat_rho_rc490    495 non-null float64
sat_rho_rc510    495 non-null float64
sat_rho_rc555    495 non-null float64
sat_rho_rc670    495 non-null float64
datetime         495 non-null datetime64[ns]
lat              495 non-null float64
lon              495 non-null float64
chl_fluo         364 non-null float64
chl_hplc         158 non-null float64
chl              424 non-null float64
is_hplc          495 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(17)
memory usage: 74.0 KB

In [38]:
# dropping wt and sal for too sparse data content
df_ml_chl.drop(['wt', 'sal'], axis=1, inplace=True)

In [80]:
# Target: aphy
df_ml_aphy = pd.concat((df_anc.drop(['datetime', 'lat', 'lon'], axis=1)
                        , df_sat.filter(regex='sat_rho_rc'), df_aphy), axis=1)
df_ml_aphy.drop(['wt', 'sal'], axis=1, inplace=True)

In [81]:
df_ml_aphy.describe().T

,count,mean,std,min,25%,50%,75%,max
oisst,495.0,19.066020,6.983298,0.780,13.775000,19.600000,25.120000,30.510000
etopo2,495.0,768.961616,1410.753061,0.000,20.500000,156.000000,519.000000,5529.000000
sola,495.0,188.826667,51.128164,0.000,182.750000,191.900000,204.100000,356.700000
solz,495.0,31.291919,14.525706,0.000,20.650000,32.300000,42.600000,69.900000
sat_rho_rc412,495.0,0.006742,0.003876,0.000,0.003706,0.005988,0.008865,0.020979
sat_rho_rc443,495.0,0.007025,0.003640,0.000,0.004168,0.006625,0.008941,0.020130
sat_rho_rc490,495.0,0.007243,0.003453,0.000,0.004514,0.006866,0.009144,0.018906
sat_rho_rc510,495.0,0.006734,0.003350,0.000,0.004123,0.005819,0.008748,0.018512
sat_rho_rc555,495.0,0.006170,0.003526,0.000,0.003430,0.005138,0.007997,0.019804
sat_rho_rc670,495.0,0.003537,0.002458,0.000,0.001666,0.002724,0.004723,0.011320
lat,495.0,28.887491,20.588358,-67.643,26.936900,32.400000,42.350000,79.000000
lon,495.0,-70.959878,41.512573,-170.198,-83.391000,-76.013200,-66.999000,171.716000
aphy405,495.0,0.013632,0.044582,0.000,0.000000,0.000000,0.012185,0.530290
aphy411,495.0,0.014867,0.048175,0.000,0.000000,0.000000,0.013100,0.566390
aphy443,495.0,0.017484,0.054236,0.000,0.000000,0.000000,0.016940,0.587770
aphy455,495.0,0.015482,0.046341,0.000,0.000000,0.000000,0.015265,0.487390
aphy465,495.0,0.014420,0.042359,0.000,0.000000,0.000000,0.013485,0.420710
aphy489,495.0,0.011037,0.032698,0.000,0.000000,0.000000,0.010125,0.285550
aphy510,495.0,0.007267,0.024049,0.000,0.000000,0.000000,0.005370,0.215190
aphy520,495.0,0.005696,0.019660,0.000,0.000000,0.000000,0.003670,0.192300
aphy530,495.0,0.004610,0.016473,0.000,0.000000,0.000000,0.002600,0.172620
aphy550,495.0,0.003133,0.011891,0.000,0.000000,0.000000,0.001330,0.138970
aphy555,495.0,0.002776,0.010813,0.000,0.000000,0.000000,0.001130,0.132730
aphy560,495.0,0.002464,0.009968,0.000,0.000000,0.000000,0.000990,0.131220
aphy565,495.0,0.002243,0.009402,0.000,0.000000,0.000000,0.000835,0.131040
aphy570,495.0,0.002116,0.009221,0.000,0.000000,0.000000,0.000765,0.134500
aphy590,495.0,0.002091,0.009518,0.000,0.000000,0.000000,0.000780,0.149540
aphy619,495.0,0.002582,0.012303,0.000,0.000000,0.000000,0.000940,0.190910
aphy625,495.0,0.002729,0.012905,0.000,0.000000,0.000000,0.001000,0.197950
aphy665,495.0,0.006212,0.027468,0.000,0.000000,0.000000,0.002400,0.362800
aphy670,495.0,0.007442,0.031419,0.000,0.000000,0.000000,0.002850,0.400580
aphy683,495.0,0.005748,0.024348,0.000,0.000000,0.000000,0.001835,0.306870

In [50]:
df_ml_aphy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 494
Data columns (total 33 columns):
oisst            495 non-null float64
etopo2           495 non-null float64
sola             495 non-null float64
solz             495 non-null float64
sat_rho_rc412    495 non-null float64
sat_rho_rc443    495 non-null float64
sat_rho_rc490    495 non-null float64
sat_rho_rc510    495 non-null float64
sat_rho_rc555    495 non-null float64
sat_rho_rc670    495 non-null float64
datetime         495 non-null datetime64[ns]
lat              495 non-null float64
lon              495 non-null float64
aphy405          495 non-null float64
aphy411          495 non-null float64
aphy443          495 non-null float64
aphy455          495 non-null float64
aphy465          495 non-null float64
aphy489          495 non-null float64
aphy510          495 non-null float64
aphy520          495 non-null float64
aphy530          495 non-null float64
aphy550          495 non-null float64
aphy555          495 non-null float64
aphy560          495 non-null float64
aphy565          495 non-null float64
aphy570          495 non-null float64
aphy590          495 non-null float64
aphy619          495 non-null float64
aphy625          495 non-null float64
aphy665          495 non-null float64
aphy670          495 non-null float64
aphy683          495 non-null float64
dtypes: datetime64[ns](1), float64(32)
memory usage: 131.5 KB

In [82]:
df_ml_chl.to_pickle(pkldir + 'df_3_ML4chl.pkl')
df_ml_aphy.to_pickle(pkldir + 'df_3_ML4aphy.pkl')